*
h1 {
    padding-top: 10px;
    font-family:Helvetica;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;

}

.nav {
  text-decoration: none;
  font-weight: lighter;
  font-family: Helvetica;
  background-color: white; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  text-decoration: none;
  color: gray;
  display: inline-block;
  padding: inherit;
  list-style-type: none;
  font-size: 20px;
  padding: 20px;
}

a:link {
    text-decoration: none;
    color: dimgray;
    font-weight: lighter;
    padding: 20px 25px;
    transition: 0.3s;
}

a:hover {
    background-color: rgb(225,225,225);
    
}

a:active {
    background-color: rgb(225,225,225);
}
