*
h1 {
    padding-top: 10px;
    font-family: Helvetica; /*Thin Helvetica Font*/
    text-align: center;
    letter-spacing: 3px;
    font-weight: lighter;
}

ul {
  font-weight: lighter;
  font-family: Helvetica;
  background-color: white; 
  list-style-type: none;
  text-align: center;
}

ul li {
  color: gray;
  display: inline-block;
  padding: inherit;
  list-style-type: none;
  font-size: 20px;
  padding: 20px;
}

li a{
    text-decoration: none;
    color: gray;
    border: 1px solid;
    border-color: gray;
    transition: 0.3s;
}

a:link {
    color: slategray; 
    font-weight: lighter;
    padding: 20px 25px;
}

a:hover {
    background-color: rgb(235,235,235); /*Gray on Hover*/
    border-bottom: 5px solid;
}
.active {
    background-color: rgb(100,125,150); /*Navy Blue on Active Nav Link*/
    color: white;
    transition: 0.3s;
}

p {
    color: black; /*Black text color*/
    font-family: Helvetica;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

div.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

div.gallery2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 50px;
        font-family: Helvetica;
    text-align: center;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 40px;
}

audio {
    padding-top: 50px;
    padding-bottom: 50px;
}

div.portfolio {
    margin: 100px;
    padding-bottom: 100px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

div.about {
    color: black;
    font-family: Helvetica;
    margin: 100px;
    font-size: 20px;
    padding: 50px;
    font-weight: lighter;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
